<ng-include src="'assets/templates/fragments/header.html'"></ng-include>


<div id="wrapper">

    <div id="layout-static">

        <div class="static-sidebar-wrapper" ng-include="'assets/templates/fragments/sidebar.html'"></div>

        <div class="static-content-wrapper">

            <div class="static-content">
                <div id="wrap" app-view-segment="1" class="mainview-animation animated"></div> <!--wrap -->

            </div>

            <ng-include src="'assets/templates/fragments/footer.html'"></ng-include>


        </div>
    </div>

</div>


